/* animation logo intro */
.intro{
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #212529;
  transition: 1s;
}
.logo-header{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #ffffff;
}
.logo{
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
  font-size: 3rem;
  font-family: 'Roboto Condensed', sans-serif;
  margin-left: 50%;
  transform: translateX(-50%);
}
.logo.active{
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}
.logo.fade{
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}
/* navbar */
.navbar-toggler {
    border: 0 !important;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 0 !important;
}
.toggler-icon{
    width: 30px;
    height: 3px;
    background-color: #f0b63a;
    display: block;
    transition: all 0.2s;
}
.middle-bar{
    margin: 5px auto;
}
.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}
.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}
.navbar-toggler.collapsed .toggler-icon {
    background-color: #ffffff;
}
.navbar .navbar-collapse {
  text-align: center;
}
html,body{
    height: 100%;
}
.navbar{
    font-family: 'Montserrat', sans-serif;
}
.titlelogo{
    font-family: 'Roboto Condensed', sans-serif;
}
/* contactus */
.mapgoogle{
    display: flex;
    align-items: center;
    justify-content: center;
}
.mapbox{
    background-color: #f0b63a;
    border-radius: 5%;
    margin: 30px;
}
@media (max-width: 800px) {
    .mapgoogle{
        display: none;
    }
    }
.contactus{ 
    background-image: url(../images/worldmap.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-blend-mode: lighten;
    height: 80%;
}
.contactdetails{
    font-family: 'Montserrat', sans-serif;
}
/* header section */
.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  /* event section */
  .eventdet{
    position: absolute;
    bottom: 1rem;
    left: 1.2rem;
  }
  a{
    text-decoration: none !important;
  }
  .card-text{
    color: #ffffff;
  }
  /* partner section */
  /* marque tutorial: https://www.youtube.com/watch?v=sVZX0XvEBhk */
  :root{
    --marquee-width:100vw;
    --marquee-height:20vh;
    /* --marquee-elements:9; */
    --marquee-elements-displayed:4;
    --marquee-elements-width: calc(var(--marquee-width)/var(--marquee-elements-displayed));
    --marquee-animation-duration:calc(var(--marquee-elements)*3s);
  }
  .marquee{
    color: #ffffff;
    width: var(--marquee-width);
    height:var(--marquee-height);
    overflow: hidden;
    position: relative;
    margin:0 auto;
  }
  .marquee::before, .marquee::after{
    position: absolute;
    top: 0;
    width: 10rem;
    height: 100%;
    content: "";
    z-index: 1;
  }
  /* .marquee::before{
    left: 0;
    background: linear-gradient(to right,#111 0%, transparent 100%);
  }
  .marquee::after{
    right: 0;
    background: linear-gradient(to left,#111 0%, transparent 100%);
  } */
  .marquee-content{
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling var(--marquee-animation-duration) linear infinite;
  }
  .marquee-content:hover{
    animation-play-state: paused;
  }
  @keyframes scrolling{
    0%{
        transform: translateX(80vw);
    }
    100%{
        transform: translateX(calc(-1*var(--marquee-elements-width)*var(--marquee-elements)));
    }
  }
  .marquee-content li{
    width: var(--marquee-elements-width);
    flex-shrink: 0;
    font-size: calc(var(--marquee-height)*2/3);
    white-space: nowrap;
  }
  @media(max-width:600px){
    :root{
        --marquee-width:100vw;
        --marquee-height:15vh;
        --marquee-elements-displayed:3;
    }
    .marquee::before, .marquee::after{
        width:5rem;
      }
  }
